#index{

    hr{
        color: #242424;
        margin-top: 0;
    }

    .add{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .submit{
            width: 10rem;
            justify-self: right;
        }

        .time{
            width: 5rem;
        }
    }

    .list{
        background-color: #D9D9D9;
        border-radius: 1rem;
        padding: 1.5rem;
        margin-top: 3rem;


        .singleEl{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1{
                color: black;
                text-transform: uppercase;
            }
            p{
                color: black;
                font-size: 1.5rem;
            }

            .buttons{
                display: flex;

                .btn-danger{
                    margin-left: 1rem;
                }
            }
        }
    }
}


@media screen and (max-width: 710px) {
    .add{
        flex-wrap: wrap;
    }

    .singleEl{
        flex-direction: column;
        margin-bottom: 1rem;
    }
}
