// Variables
@use 'variables' as *;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Fonts
@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'Montserrat' !important;
    color: $primary-light;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold{
    font-weight: 700;
}

nav{
    background-color: $header-dark;
    height: 5rem;

    .container{
        height: 100%;

        .navbar-brand{
            color: $secondary-color;
            height: 100%;
        }

        .navbar-brand img{
            height: 100%;
        }

        a{
            margin-left: 1rem;
        }
    }
}

a{
    color: $primary-light;
    text-decoration: none;
}

main{
    background-color: $body-bg;
}

.myContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    margin: 1rem 0;
    width: 20rem;
    border-radius: 12px;
    position: relative;

    label{
        color: black;
        text-transform: uppercase;
        position: absolute;
        top: 4px;
        left: 4px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]{
        background-color: #D9D9D9;
        width: 100%;
        padding: 1.7rem .3rem .3rem;
        border: none;
        border-radius: 12px;
        border: 3px solid transparent;
        color: black;

        &:focus,
        &:focus-visible{
            border: 3px solid $secondary-color;
            outline: none;
        }
    }
}
.error{
    color: $error;
    display: none;

    &.on{
        display: block;
    }
}

.submit{
    width: 20rem;
    height: 4rem;
    border-radius: 12px;
    background-color: $secondary-color;
    border: none;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        filter: brightness(0.85);
        transform: scale(1.05);
    }
}

.centered{
    justify-self: center;
}

.secondary-outline{
    border: 1px solid $secondary-color;

    &:active{
    border: 1px solid blue;
    }
}
