#create{
    .content-container{
        display: flex;
        justify-content: center;
        form{
            width: 100%;
            .check{
                display: flex;
                justify-content: space-between;
                margin: 2rem 0;

                svg{
                font-size: 2rem;
                }
            }
            .inputContainer{
                width: 100%;
                div{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    input{
                        width: 75%;
                    }
                    button{
                        width: 10rem;
                    }
                }
            }
        }
    }
    .btn-check:checked + .btn{
        background-color: #E95622;
    }
}

@media screen and (max-width: 980px) {
    .check{
        flex-wrap: wrap;
        justify-content: left !important;
    }
}
