#booking{


    form{
        margin-bottom: 3rem;

        h2{
            color: #E95622;
            text-align: center;
        }
        button{
            width: 20rem;
        }
    }

    .availableItems{
        padding: 0 1rem ;
        text-align: center;


        p{
            font-size: 1.5rem;
        }
    }

    h3{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

}
