#create-edit{

    form{
        display: flex;
        justify-content: space-between;
        width: 100%;

        div{
            width: 75%;
        }

        button{
            width: 10rem;
        }
    }
}
